<!DOCTYPE html>
<html>
    <head>
        <title>pybaoba</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css')}}" />
        <script src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/uikit-icons.min.js')}}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.js" integrity="sha512-6LKCH7i2+zMNczKuCT9ciXgFCKFp3MevWTZUXDlk7azIYZ2wF5LRsrwZqO7Flt00enUI+HwzzT5uhOvy6MNPiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/helpers.js" integrity="sha512-mP+Y3bimvz/biDjFiXeGMPnLCKXV+VuYXv86wAZ+llI6Gq0Ip3xjo6hx2AueB59sjk/bF66Y2K2vcvSLf/b+LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       
        <script type="text/javascript">
            const guestData=JSON.parse('{{packages|safe}}')
        </script>
    
    </head>
    <body>

        <div  class="uk-container">
            
        <div>

    </body>
</html>