<!DOCTYPE html>
<html>
    <head>
        <title>pybaoba</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css')}}" />
        <script src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/uikit-icons.min.js')}}"></script>
    </head>
    <body>
        <div  class="uk-container">
        <div>
    </body>
</html>