<!DOCTYPE html>
<html>
    <head>
        <title>pybaoba</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css')}}" />
        <script src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/uikit-icons.min.js')}}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js "></script>
        <script type="text/javascript">
            const guestData=JSON.parse('{{packages|safe}}')
        </script>
    
    </head>
    <body>

        <div  class="uk-container">
            
            <div>
                <canvas id="pieChart"></canvas>
            </div>

        <div>

        <script type="text/javascript" >
            const countOccurrences = (arr, val) => arr.reduce((a, v) => (v === val ? a + 1 : a), 0);
            const ctx = document.getElementById('pieChart')
            const archs = guestData.map( (e) => { return e.arch } )
            const arch = [...new Set(archs)]
            const quantArch = []

            arch.forEach((e) => {
                quant.push(countOccurrences(archs, e))
            })

            const data = {
                labels: arch,
                datasets:[{
                    label: "Arch",
                    data: quantArch,
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                  ],
                    hoverOffset: 4
                }]
            }

            const config = {
                type: 'doughnut',
                data: data
            }

            new Chart(ctx, config)

        </script>        
    </body>
</html>